header {
  margin: 30px;
}
main {
  padding: 30px;
}
footer {
  padding: 30px;
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: small;
}
.weather-app {
  background-image: url(blueskies.jpg);
  background-size: cover;
  max-width: 600px;
  margin: 15px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  color: gray;
  font-size: 16px;
  padding: 15px;
  width: 75%;
  border-radius: 6px;
}
.search-form-button {
  margin-left: 15px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  padding: 15px;
  line-height: 1;
  border-radius: 5px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.temperature-data {
  margin: 30px;
}
.icon {
  font-size: 40px;
}
.temperature {
  font-size: 60px;
  font-weight: bold;
}
