header {
  margin: 20px;
}
main {
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  color: #f9f7fe;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  margin-top: 60px;
}
footer {
  padding: 30px;
  text-align: center;
  font-family: monospace;
  color: wheat;
  font-size: small;
}
.weather-app {
  background-image: url(blueskies.jpg);
  background-size: cover;
  max-width: 600px;
  margin: 35px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  color: gray;
  font-size: 16px;
  padding: 15px;
  width: 75%;
  border-radius: 6px;
  margin-top: 60px;
}
.search-form-button {
  margin-left: 15px;
  font-size: 16px;
  background-color: #38598b;
  color: white;
  border: none;
  padding: 15px;
  line-height: 1;
  border-radius: 5px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.temperature-data {
  margin: 30px;
}
.weather-app-icon {
  width: 60px;
  height: 60px;
}
.temperature {
  font-size: 60px;
  font-weight: bold;
}
.humidity {
  font-weight: bolder;
}
.wind {
  font-weight: bolder;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: #f9f7fe;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  color: #f9f7fe;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
